.footer
  .container
    center
      span Built with&#32;
      a(target="_blank"
      , href="https://ldsconnect.org/vids/built-with-love"
      , style="text-decoration: none; color: #F778A1; font-size: 1.3em;"
      )  &#x2665;
      span &#32;by&#32;
      a(target="_blank", href="http://blog.coolaj86.com") AJ
      span &#32;(
      a(target="_blank", href="http://AJ.the.DJ") the DJ
      span )&#32;
      a(target="_blank", href="http://fb.com/coolaj86") ONeal
